<h1>{{title}}</h1>
<p>{{title}}</p>
<hr>

<div class="container">
  <div class="row">
    <div class="col-sm">
      {{> smartphone}}
    </div>
    <div class="col-sm">
      {{> smartphone}}
    </div>
    <div class="col-sm">
      {{> smartphone}}
    </div>
    <div class="col-sm">
      {{> smartphone}}
    </div>
  </div>
</div>
